/* inherit department traits */
@import 'departments.css';

/* two column wide instead of 3 */
.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 0;
    width: 100%;
}

.info-card {
    a:has(img) {
        text-decoration: none;
        color: inherit;
        display: block;
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 4px;
        transition: transform 0.2s ease-in-out;
    }

    h3 {
        margin-bottom: 15px;
        text-align: center;
        color: #333;
    }

    .accessible-link {
        text-align: center;
        margin-top: 10px;
        font-size: 0.9em;

        details {
            color: black;
            
            :not(summary) {
                text-align: left;
            }
        }
    }
}

.info-card:hover img {
    transform: scale(1.02);
}

.info-card::after {
    content: "Click to Download";
    display: block;
    text-align: center;
    color: #666;
    font-size: 0.9em;
    margin-top: 10px;
}